<div class="edit-user">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				 data-ng-click="duc.cancel()">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
		<h3 class="modal-title">Eliminar <span data-ng-bind="duc.user.username"></span></h3>
	</div>
	<div class="modal-body">
		<p>&#191;Est&#225;s seguro que deseas eliminar a <span data-ng-bind="duc.user.username"></span>?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" type="button" data-ng-click="duc.ok()">
			<i class="glyphicon glyphicon-remove-sign"></i> Eliminar
		</button>
		<button class="btn btn-primary" type="button" data-ng-click="duc.cancel()">
			<i class="glyphicon glyphicon-home"></i> Cancelar
		</button>
	</div>
</div>
