<div class="edit-user">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				 data-ng-click="euc.cancel()">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
		<h3 class="modal-title">Editar <span data-ng-bind="euc.user.username"></span></h3>
	</div>
	<div class="modal-body">
		<form id="editUserForm" class="form-horizontal" name="editUserForm" role="form" novalidate="novalidate">
			<div class="form-group"
				data-ng-class="{'has-warning': euc.fieldHasWarning(editUserForm.email),
								'has-error': euc.fieldHasError(editUserForm.email)}">
				<label for="email" class="col-md-3 col-xs-12 control-label">Email</label>
				<div class="input-group col-md-9 col-xs-12">
					<input id="email" type="text" class="form-control" name="email"
							placeholder="{{euc.user.email}}"
							data-ng-minlength="euc.validation.email.minlength"
							maxlength="{{euc.validation.email.maxlength}}"
							data-ng-maxlength="euc.validation.email.maxlength"
							data-ng-pattern="euc.validation.email.regex"
							data-ng-model="euc.updatedUser.email" />
					<span class="input-group-addon" data-ng-messages="editUserForm.email.$error"
							data-ng-show="euc.showFieldMessages(editUserForm.email)">
						<i class="glyphicon glyphicon-remove" data-ng-message="pattern"></i>
						<i class="glyphicon glyphicon-warning-sign" data-ng-message="minlength"></i>
					</span>
				</div>
				<p role="alert" class="help-block col-md-offset-3 col-md-9 col-xs-12"
						data-ng-messages="editUserForm.email.$error"
						data-ng-show="euc.showFieldMessages(editUserForm.email)">
					<span class="help-block" data-ng-message="pattern">
						Email debe ser v&#225;lido
					</span>
					<span class="help-block" data-ng-message="minlength">
						Email debe tener un m&iacute;nimo de 
						<span data-ng-bind="euc.validation.email.minlength"></span> caracteres
					</span>
					<span class="help-block" data-ng-message="maxlength">
						Email debe tener un m&#225;ximo de 
						<span data-ng-bind="euc.validation.email.maxlength"></span> caracteres
					</span>
				</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button" data-ng-click="euc.ok()"
				data-ng-disabled="editUserForm.$invalid || !euc.modelHasBeenEdited(euc.updatedUser)">
			<i class="glyphicon glyphicon-ok-sign"></i> Actualizar
		</button>
		<button class="btn btn-danger" type="button" data-ng-click="euc.cancel()">
			<i class="glyphicon glyphicon-remove-sign"></i> Cancelar
		</button>
	</div>
</div>
