<div class="about-us row">
	<div class="page-header">
		<h2>Con&#243;cenos</h2>
	</div>
	<div class="col-md-4">
		<img alt="Con&#243;cenos" data-ng-src="/welcome/images/about-us.png">
	</div>
	<div class="col-md-6">
		<p>
			Somos una empresa que fue creada con la intenci&#243;n de dar alegr&#237;a a los eventos y de crear un 
			ambiente m&#225;gico para que tu evento sea un &#233;xito. Gracias a nuestros fundadores, Glenda Baker 
			y Omar Ram&#237;rez, que siempre han pensado en lo mejor para ti siendo unas personas innovadoras y en 
			vanguardia.
		</p>
		<p>
			Contamos con m&#225;s de 20 a&#241;os de experiencia en el mercado en los cuales hemos sintonizado 
			emociones en m&#225;s de 1000 eventos. Nos dedicamos a darle sentido a tu evento creando un momento 
			&#250;nico e inigualable en donde a lo innombrable se le da nombre a trav&#233;s de la m&#250;sica. 
			Conocemos el mercado muy a fondo ya que la experiencia nos respalda y nos ha ense&#241;ado a hacer 
			lo que hoy en d&#237;a mejor hacemos <strong><em>CREAR EMOCIONES R&#205;TMICAS.</em></strong>
		</p>
	</div>
</div>
