<div class="row">
	<div class="page-header">
		<h2>Nuestros Servicios</h2>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
				<img alt="Sombreros" data-ng-src="/welcome/images/servicios/sombreros.png">
				<div class="caption">
					<h3>Sombreros</h3>
					<p>Has que tu evento sea colorido con nuestros diferentes tipos de sombreros y divi&#233;rtanse como nunca.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
				<img alt="Robot LED" data-ng-src="/welcome/images/servicios/robot-led.png">
				<div class="caption">
					<h3>Robot LED</h3>
					<p>Ilumina el escenario y la pista de baile con nuestro robot LED.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
				<img alt="Accesorios" data-ng-src="/welcome/images/servicios/accesorios.png">
				<div class="caption">
					<h3>Accesorios</h3>
					<p>Divi&#233;rtete con los accesorios referentes al tipo de m&#250;sica.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
				<img alt="Letras de boda" data-ng-src="/welcome/images/servicios/letras-boda.png">
				<div class="caption">
					<h3>Letras de boda</h3>
					<p>Decora el recibidor o el sal&#243;n con las letras de boda gigante.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
				<img alt="Arlequin de Carnaval" data-ng-src="/welcome/images/servicios/arlequin-carnaval.png">
				<div class="caption">
					<h3>Arlequin de Carnaval</h3>
					<p>Deja salir el esp&#237;ritu de fiesta con nuestros arlequines de carnaval.</p>
				</div>
			</div>
		</div>
	</div>
</div>
