@CHARSET "ISO-8859-1";

.black {
	color: #333;
}

.users table {
	background-color: #fff;
	color: #333;
}

.users table td.action {
	vertical-align: middle;
	text-align: center;
}

/* Desktop-specific */
@media screen and (min-width: 768px) {
	
}

/* Mobile-specific */
@media screen and (max-width: 767px) {
	
}
