@CHARSET "ISO-8859-1";

.users table {
	background-color: #fff;
	color: #333;
}

.users table td.action {
	vertical-align: middle;
	text-align: center;
}

.edit-user {
	color: #333;
}

.edit-user .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

/* Desktop-specific */
@media screen and (min-width: 768px) {
	
}

/* Mobile-specific */
@media screen and (max-width: 767px) {
	
}
